
body {
	margin: 0;
	background-color: #ffffff;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
 }
 
 *,
 *::before,
 *::after {
	box-sizing: border-box;
 }
 
 .header {
	width: 100%;
	padding: 20px 0;
 }
 
 .container {
	max-width: 960px;
	margin: 0 auto;
 }
 
 .header_in {
	display: flex;
	justify-content: space-between;
	align-items: center; /* Добавляем выравнивание по центру по вертикали */
 }
 
 .name {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
 }
 
 nav {
	display: flex;
	flex-direction: row;
	font-size: 18px;
	text-transform: uppercase;
 }
 
 .nav_link {
	display: block;
	color: #000;
	text-decoration: none;
	margin-left: 50px;
 }
 
 .nav_link:first-child {
	margin-right: 0;
 }
 
 .nav_link:hover {
	color: rgb(0, 0, 0);
	transition: all 0.15s ease-in;
 }
 
 .nav_link::after {
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	background-color: rgb(0, 0, 0);
	margin: 0 auto;
 }
 
 .nav_link:hover::after {
	width: 100%;
	transition: width 0.3s ease-in;
 }
 
 .logo_name {
	display: flex;
	align-items: center; /* Выравнивание по центру по вертикали */
 }
 
 .logo-holder {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	margin-left: 25px;
	animation: mulia 0.5s linear infinite;
 }
 
 .logo_header {
	font-size: 50px;
	padding-top: 30px;
	color: #000;
	animation: sveta 1s linear infinite;
 }
 
 @keyframes mulia {
	0% {
	 transform: rotate(0deg);
	}
	100% {
	 transform: rotate(720deg);
	}
 }
 
 @keyframes sveta {
	0% {
	 margin-left: 0;
	}
	50% {
	 margin-left: 50px;
	}
	100% {
	 margin-left: 0;
	}
 }
 
 main {
	display: flex;
	justify-content: center;
	align-items: center;
 }
 
 .calculator {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	row-gap: 40px;
	flex-direction: column;
	box-shadow: 0px 0px 6px 2px #000;
	padding: 30px 60px;
	border-radius: 24px;
	width: 100%; 
	max-width: 960px;
 }
 
 h1 {
	font-size: 36px;
	text-align: center;
 }
 
 .shlyapa {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 12px;
 }
 
 label {
	font-size: 26px;
	text-align: center;
 }
 
 input,
 select {
	display: block;
	padding: 10px;
	font-size: 20px;
	width: 100%;
	box-sizing: border-box; 
 }
 
 .btn {
	padding: 15px 25px;
	background-color: rgb(59, 130, 237);
	border-radius: 10px;
	border: none;
	color: #ffffff;
	font-size: 18px;
	width: 100%; 
	box-sizing: border-box; 
 }
 
 footer {
	display: flex;
	justify-content: center;
 }
 
 .footer_end {
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
 }
 
 .end_z {
	margin-top: 50px;
	height: 100px;
	color: black;
	font-size: 25px;
	text-align: center; 
 }
 

 @media (max-width: 768px) {
	.header_in {
	 flex-direction: column; 
	}
	.logo_name {
	 margin-bottom: 15px; 
	}
	.nav_link {
	 margin-left: 0;
	 margin-bottom: 10px;
	}
	.calculator {
	 padding: 20px; 
	 margin: 10px;
	}
	.shlyapa {
	 flex-direction: column; 
	}
	.logo-holder {
	 width: 60px; 
	 height: 60px;
	}
	.logo_header {
	 font-size: 30px;
	}
 }